/* *****************************UNIVERSAL STYLES********************************* */

body{
    background-color: #ffffff;
    /* color: #353b50; */
    color: #000000;
    margin: 0px;
    padding: 0px 14% 0px 14%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}
ul,li,h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding:0px;
}

a{
    text-decoration: none;
    color: #353b50;
}


/* ******************************responsive******************************** */

@media screen and (max-width:1050px){
    body{
        padding: 0px 8% 0px 8%
    }
}

@media screen and (max-width:930px) {
    body{
        padding: 0px 1% 0px 1%;
    }
}


/* *******************************header styles*********************** */
.menu-tabs{
    padding:30px 0px 65px 0px;
    border-bottom: 2px #ecedef solid;
    margin: 0px 70px 0px 45px;
}


.tabs{
    display: flex;
    list-style: none;
    padding-left: 45%;
    align-items: center;
}

.tabs img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    position:relative;
    left: 60px;
    bottom: 7px;
}

.each-tab{
    padding: 25px;
    font-weight: 600;
}

/* ******************responsive styles************************ */

@media screen and (max-width:1025px){
    .tabs{
        padding-left: 25%;
    }
}

@media screen and (max-width:900px){
    .tabs{
        padding-left: 0;
        justify-content: center;
    }

    .menu-tabs{
        margin: 0px;
        padding:30px 0px 50px 0px;
    }

    .tabs img{
        left: 0;
        bottom: 0;
    }
    .each-tab{
        padding: 25px;
        margin: 0px 10px 0px;
        font-size: .9rem;
    }
}


@media screen and (max-width:551px){
    .tabs{
        padding-left: 0;
        justify-content: center;
    }

    .menu-tabs{
        margin: 0px;
        padding:20px 0px 45px 0px;
    }

    .tabs img{
        left: 0;
        bottom: 0;
    }
    .each-tab{
        padding: 18px;
        margin: 0px 3px 0px;
        font-size: .7rem;
    }
}

@media screen and (max-width:376px) {
    .each-tab{
        padding: 18px;
        margin: 0px 2px 0px;
        font-size: .7rem;
    }

    .menu-tabs{
        padding:20px 0px 30px 0px;
    }
}

/* ********************payment intro************************ */

.payment-intro{
    display: flex;
    padding: 30px 0px 20px 0px;
    margin: 0px 70px 0px 45px;
    justify-content: space-between;
}

.left-block p{
    font-size: 12px;
    padding-top: 6px;
    color: #aab0bb;
}

.left-block h2{
    font-size: 20px;
}

.left-block{
    max-width: 870px;
}

.active-logo{
    padding-left: 10px;
    position: relative;
    top: 2px;
}

.paypal-logo{
    padding-left: 20px;
    position: relative;
    left: 8px;
}


/* *************************responsive styles************************* */

@media screen and (max-width:600px) {
    .payment-intro{
        margin: 0px 45px 0px 45px;
    }

    .left-block h2{
        font-size: 1rem;
    }

    .left-block p{
        font-size: .6rem;
    }
}

@media screen and (max-width:416px) {
    .payment-intro{
        margin: 0px 20px 0px 20px;
    }

    .left-block h2{
        font-size: 1rem;
    }

    .left-block p{
        font-size: .6rem;
    }

    .paypal-logo{
        padding-left: 10px;
        position: relative;
        left: 0px;
    }
}


@media screen and (max-width:376px) {
    .payment-intro{
        margin: 0px 10px 0px 10px;
    }

    .left-block h2{
        font-size: .9rem;
    }

    .left-block p{
        font-size: .6rem;
    }

    .paypal-logo{
        padding-left: 10px;
        position: relative;
        left: 0px;
    }
}

@media screen and (max-width:323px) {
    .payment-intro{
        margin: 0px 5px 0px 5px;
    }

    .left-block h2{
        font-size: .8rem;
    }

    .left-block p{
        font-size: .5rem;
    }

    .paypal-logo{
        padding-left: 5px;
        position: relative;
        left: 0px;
    }
}


/* *******************card information******************** */

.payment-section{
    padding: 10px 50px 0px 45px;
    display: flex;
}

.input-space-wrapper{
    width: 50%;
    padding-left: 15%;
}

.save-card-button{
    width: 141%;
    background-color: #3f67e9;
    color: #ffffff;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


.credit-card-logo{
    width: 35%;
}

.credit-card-logo img{
    width: 300px;
}

.half-stack{
    display: flex;
}

.half-stack p{
    padding-bottom: 6px;
    font-size: 12px;
}

.second{
    padding-left: 16px;
}

.half-stack input{
    width: 210px;
    height: 30px;
    background-color: #f0f1f3;
    outline: none;
    border: 2px solid #ecedef;
    border-radius: 4px;
    padding: 0px 20px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.below{
    padding-top: 30px;
    padding-bottom: 10px;
}

.click-radio{
    padding-bottom: 10px;
}


.click-radio label{
    padding-left: 5px;
    font-size: 12px;
}

.click-radio input{
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}


/* ******************responsive styles************************ */

@media screen and (max-width:850px) {
    .credit-card-logo img{
        width: 250px;
    }

    .credit-card-logo{
        width: 27%;
    }
}

@media screen and (max-width:786px){
    .half-stack input{
        width: 180px;
        height: 30px;
    }
}
@media screen and (max-width:769px){

    .credit-card-logo{
        width: 200px;
    }
    .credit-card-logo img{
        width: 200px;
    }

    .input-space-wrapper{
        width: 50%;
        padding-left: 8%;
    }

}

@media screen and (max-width:705px) {
    .half-stack{
        display: block;
    }

    .payment-section{
        padding: 10px 10px 0px 100px;
        display: flex;
    }

    .second{
        padding-left: 0px;
    }

    .below{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .save-card-button{
        width: 185px;
    }

    .fixed{
        padding-top: 10px;
    }
}

@media screen and (max-width:650px){
    .payment-section{
        padding: 10px 10px 0px 70px;
    }
}


@media screen and (max-width:545px){
    .payment-section{
        padding: 10px 10px 0px 40px;
    }
}

@media screen and (max-width:416px) {
    .half-stack{
        display: block;
    }

    .credit-card-logo img{
        width: 170px;
    }

    .payment-section{
        padding: 10px 10px 0px 10px;
        display: flex;
    }

    .input-space-wrapper{
        width: 80%;
        padding-left: 5%;
    }

    .second{
        padding-left: 0px;
    }

    .below{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fixed{
        padding-top: 10px;
    }
}


@media screen and (max-width:378px){
    .half-stack input{
        width: 150px;
        height: 30px;
    }

    .save-card-button{
        width: 150px;
    }
}

@media screen and (max-width:325px){
    .half-stack input{
        width: 130px;
        height: 30px;
    }

    .save-card-button{
        width: 130px;
    }

    .credit-card-logo img{
        width: 150px;
    }
}


/* **************cost breakdown******************* */

.cost-breakdown{
    border-bottom: 2px #ecedef solid;
    border-top: 2px #ecedef solid;
    margin: 10px 80px 0px 45px;
}

.cost-line{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-weight: 800;
    font-size: 14px;
    color: #000000;
}

.feint-code{
    /* color: #aab0bb; */
    font-weight: 600;
    opacity: .4;
}

.last-line{
    padding-bottom: 30px;
}

.digit{
    position: relative;
    left: 10px;
    font-size: 14px;
    font-weight: 600;
}


@media screen and (max-width:1285px){
    .cost-breakdown{
        border-bottom: 2px #ecedef solid;
        border-top: 2px #ecedef solid;
        margin: 10px 45px 0px 45px;
    }
}

@media screen and (max-width:504px){
    .cost-breakdown{
        border-bottom: 2px #ecedef solid;
        border-top: 2px #ecedef solid;
        margin: 10px 15px 0px 10px;
    }
}

@media screen and (max-width:416px) {
    .cost-line{
        font-size: .8rem;
    }
}

/* **********************complete order********************** */

.complete-order{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 0px 45px;
    padding: 30px 0px 50px;
}

.complete-button{
    background-color: #3f67e9;
    color: #ffffff;
    height: 40px;
    width: 215px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.total-bill{
    font-weight: 900;
    color: #000000;
    font-size: 18px;
    position: relative;
    left: 18px;
}


/* *****************************responsive syles******************************* */

@media screen and (max-width:1285px){
    .complete-order{
        display: flex;
        justify-content: space-between;
        margin: 0px 45px 0px 45px;
        padding: 30px 0px 50px;
    }
}

@media screen and (max-width:504px){
    .complete-order{
        display: flex;
        justify-content: space-between;
        margin: 0px 20px 0px 15px;
        padding: 30px 0px 50px;
    }

    .complete-button{
        height: 40px;
        width: 180px;
    }

    .total-bill{
        font-size: 1rem;
    }
}

@media screen and (max-width:415px){
    .complete-order{
        display: flex;
        justify-content: space-between;
        margin: 0px 20px 0px 10px;
        padding: 30px 0px 50px;
    }

    .complete-button{
        height: 40px;
        width: 130px;
    }

    .total-bill{
        font-size: .8rem;
    }
}